/* Base Application Styles */
body {
    color: #fff;
    background: #222;
    font-family: 'Georgia', serif;
    margin: 0;
}

.index {
    margin: 40px auto;
}

.container {
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 1.5rem;
}

.mast-heading {
    font-size: 3rem;
}
