/* Base Application Styles */

@import url('https://fonts.googleapis.com/css?family=Oswald');

$brand1: #a5467b;
$brand2: #c6711c;

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

html, body {
    height: 100%;
}

body {
    background: url('../images/pitch.jpg');
    background-size: cover;
    color: #444;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.4;
    margin: 0;
    position: relative;
    &:after {
        content: '';
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}

.index {
    padding: 80px 0;
    position: relative;
    z-index: 10;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 50rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-logo {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 1rem;
    left: 1rem;
    text-transform: uppercase;
}

.card {
    background: #fff;
    color: #2e2e2e;
    flex: 1;
    padding: 1.5rem;
    max-width: 30rem;
}

.btn {
    border: none;
    display: inline-block;
    font-size: 1.4rem;
    background: $brand2;
    color: #fff;
    padding: 0.75rem 1.5rem; 
    text-transform: uppercase;
}

// Form

.form-intro {
    background: #eee;
    margin: -1.5rem -1.5rem 0 -1.5rem;
    padding: 1.5rem;
    p {
        margin: 0;
    }
}

form {
    
}

.form-group {
    margin: 1.5rem 0;
}

.form-group--cols {
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    .form-group {
        flex: 1;
        margin: 0 0.5rem;
    }
}

.form-label {
    color: #666;
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.form-input {
    display: block;
    padding: 0.5rem;
    width: 100%;
    transition: transform 0.2s ease;
}

.form-input[type=text],
.form-input[type=number] {
    &:focus {
        transform: scale(1.025);
    }
}

.form-radio {
    display: inline-block;
    + .form-radio {
        margin-left: 0.5rem;
    }
    input {
        position: absolute;
        left: -9999px;
        + label {
            border: solid 1px #ccc;
            cursor: pointer;
            display: block;
            padding: 0.33rem 1rem;
            transition: all 0.4s ease;
            &:hover,
            &:focus {
                box-shadow: 0 0 4px rgba(0,0,0,0.2);
            }
        }
        &:checked {
            + label {
                background-color: $brand2;
                border-color: $brand2;
                color: #fff;
                transform: scale(1.05);
            }
        }
    }
}


// Player result

.player-result {
    background: #fff;
    box-shadow: 0px 1px 17px 1px rgba(0,0,0,0.2);
    padding: 1rem;
    top: 1rem;
    right: 1rem;
    width: 30%;
}

.player-name {
    background: #151d15;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    margin: -1rem -1rem 1rem -1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-points {
    color: #151d15;
    font-size: 5rem;
    text-align: center;
}

.player-minipoints {
    color: $brand2;
}

.player-points-label {
    color: #aaa;
    text-align: center;
}